@model VidlyApp.Models.Movies
@{
    ViewBag.Title = "Details";
}

<h2>@Model.Name</h2>

<p> Genre: @Model.Genre.Name</p>
<p> Release Date: @Model.ReleaseDate.ToLongDateString()</p>
<p> Date Added: @Model.DateAdded.ToLongDateString()</p>
<p> Number in stock: @Model.NumebrInStock</p>


